@inherits LayoutComponentBase
@namespace Aegis.Web.Components.Common
@using Aegis.Web.Components.Layout

<header class="container z-20 py-8 flex justify-between items-center max-w-screen-xl lg:py-16 2xl:h-auto">
    <img src="@((IsDarkMode ? "/images/icons/aegis-dark-logo.png" : "/images/icons/aegis-light-logo.png"))"
        alt="aegis logo" className="h-full" />
    <ul class="hidden gap-12 items-center lg:flex">
        <MudText class="relative cursor-pointer text-base text-[var(--mud-palette-white)] font-medium 
           after:absolute after:content-[''] 
           after:bg-gradient-to-r after:from-[var(--mud-palette-info-lighten)] after:via-[var(--mud-palette-info)] after:to-[var(--mud-palette-info-darken)]
           after:w-0 after:h-[0.1rem] after:-bottom-3 after:left-1/2 after:-translate-x-1/2 
           after:transition-all after:duration-300 hover:after:w-[calc(100%+3rem)]">
            HOME
        </MudText>
        <MudText class="relative cursor-pointer text-base text-[var(--mud-palette-white)] font-medium 
           after:absolute after:content-[''] 
           after:bg-gradient-to-r after:from-[var(--mud-palette-info-lighten)] after:via-[var(--mud-palette-info)] after:to-[var(--mud-palette-info-darken)]
           after:w-0 after:h-[0.1rem] after:-bottom-3 after:left-1/2 after:-translate-x-1/2 
           after:transition-all after:duration-300 hover:after:w-[calc(100%+3rem)]">
            ABOUT US
        </MudText>
        <MudText class="relative cursor-pointer text-base text-[var(--mud-palette-white)] font-medium 
           after:absolute after:content-[''] 
           after:bg-gradient-to-r after:from-[var(--mud-palette-info-lighten)] after:via-[var(--mud-palette-info)] after:to-[var(--mud-palette-info-darken)]
           after:w-0 after:h-[0.1rem] after:-bottom-3 after:left-1/2 after:-translate-x-1/2 
           after:transition-all after:duration-300 hover:after:w-[calc(100%+3rem)]">
            HOW IT WORKS
        </MudText>
    </ul>
    <div class="relative w-[150px] h-[45px] rounded-full overflow-hidden hidden lg:block 
    before:absolute before:content-[''] 
    before:bg-[conic-gradient(from_90deg,_var(--mud-palette-info-lighten)_10%,_var(--mud-palette-info)_20%,_transparent_50%)] 
    before:w-[400%] before:h-[400%] before:-left-[150%] before:-top-[150%] 
    before:animate-[spin_3s_linear_infinite]">
        <MudButton
            class="absolute w-[calc(100%-5px)] h-[calc(100%-5px)] rounded-[70px] bg-[var(--mud-palette-primary)] left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
            <MudText class="text-base font-medium text-[var(--mud-palette-white)]">OPEN APP</MudText>
        </MudButton>
    </div>
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer"
        class="block z-20 text-[var(--mud-palette-white)] lg:hidden" />
</header>


<MudDrawer @bind-Open="@_open" Overlay="true" Elevation="1" Variant="@DrawerVariant.Responsive" Anchor="Anchor.End"
    class="fixed -mt-[calc(4rem+50px)] lg:hidden">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">My App</MudText>
    </MudDrawerHeader>
    <MudDivider class="" />
    <MudNavMenu>
        <MudNavLink Match="NavLinkMatch.All">HOME</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All">HOW IT WORKS</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All">ABOUT US</MudNavLink>
    </MudNavMenu>
</MudDrawer>

@code {
    [CascadingParameter] public bool IsDarkMode { get; set; }

    private bool _open;

    private void ToggleDrawer()
    {
        _open = !_open;
    }

}