@using Aegis.Web.Components.Common;
@page "/"

@* First Section *@
<div class="relative h-auto xl:h-screen 2xl:h-auto bg-[var(--mud-palette-primary)]">
    <Header />
    <article
        class="relative container z-20 text-center pb-32 mt-20 max-w-screen-xl lg:pb-72 lg:mt-40 2xl:h-auto 2xl:pt-0">
        <MudText class="h1 font-semibold text-4xl text-[var(--mud-palette-white)] xl:text-[4rem] xl:leading-[4rem]">
            Protecting Value, <br />
            Maximizing Rewards
        </MudText>
        <MudText class="text-base text-[var(--mud-palette-white)] font-light my-8 sm:my-12 md:text-lg 2xl:my-10">
            Join AEGIS and safeguard your assets with <br />
            secure, Cardano-powered staking solutions.
        </MudText>
        <div class="w-[14rem] mx-auto p-[2px] rounded-[50px]
        bg-gradient-to-r from-[var(--mud-palette-info-lighten)] to-[var(--mud-palette-info)]
        ">
            <MudButton Variant="Variant.Filled" class="w-full rounded-[50px] bg-[var(--mud-palette-white)]">
                <MudText class="text-base font-bold text-[var(--mud-palette-black)]">START STAKING NOW</MudText>
            </MudButton>
        </div>
    </article>
    <div style="background-image: url('/images/backgrounds/first-section-layer-1.svg');" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 animate-scale-shield-first 5s ease-in-out infinite 
        opacity-20 w-[640px] h-[640px] bg-contain z-10 bg-no-repeat bg-center mix-blend-screen sm:h-full sm:w-full 
        sm:top-32 sm:left-0 sm:-translate-x-0 sm:-translate-y-0" />
    <div style="background-image: url('/images/backgrounds/first-section-layer-2.svg');" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 animate-scale-shield-second 5s ease-in-out infinite
        opacity-20 w-[640px] h-[640px] bg-contain z-10 bg-no-repeat bg-center mix-blend-screen sm:h-full sm:w-full
        sm:top-32 sm:left-0 sm:-translate-x-0 sm:-translate-y-0" />
    <div style=" background-image: url('/images/backgrounds/first-section-layer-3.svg');" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 animate-scale-shield-third 5s ease-in-out infinite 
        opacity-20 w-[640px] h-[640px] bg-contain z-10 bg-no-repeat bg-center mix-blend-screen sm:h-full sm:w-full 
        sm:top-32 sm:left-0 sm:-translate-x-0 sm:-translate-y-0" />
</div>
<div style="@((IsDarkMode ? "background-image: url('/images/backgrounds/first-section-arc-dark.svg');" : "background-image: url('/images/backgrounds/first-section-arc-light.svg');"))"
    class="relative bg-[size:100%_100%] bg-center bg-no-repeat h-56 md:h-72 2xl:h-48" />

@* Second Section *@
<section
    class="container grid grid-cols-1 place-items-center mt-20 w-full gap-10 max-w-screen-xl sm:grid-cols-2 lg:gap-6 lg:place-items-end xl:gap-6 lg:grid-cols-3">
    <article
        class="w-3/4 text-center max-w-screen-xl place-self-auto sm:w-1/2 sm:mb-0 sm:col-span-2 lg:col-span-1 lg:text-left lg:w-full lg:h-[22rem] lg:place-self-auto">
        <MudText class="text-4xl text-[var(--mud-palette-text-primary)] font-semibold lg:text-5xl">Key Benefits
        </MudText>
        <MudText class="mt-5 text-base text-center text-[var(--mud-palette-text-primary)] lg:text-left lg:text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
            iaculis fringilla ligula, id finibus tortor.
        </MudText>
        <MudText class="flex items-center gap-2 mt-4 lg:justify-normal">
            <MudText class="text-xs text-[var(--mud-palette-text-primary)] font-semibold lg:text-base">LEARN MORE
            </MudText>
            <img src="/images/icons/arrow-up-right-colored.png" class="h-7 w-7 object-contain" alt="arrow icon" />
        </MudText>
    </article>

    <MudCard
        class="h-72 w-full rounded-2xl cursor-pointer py-8 px-8 flex flex-col items-center gap-y-2 text-center bg-[var(--mud-palette-secondary-lighten)] transform transition-transform duration-300 ease-in-out hover:scale-110 lg:pl-10 lg:pr-6 lg:w-full lg:text-left">
        <MudCardContent>
            <img src="images/icons/safer-staking.png" class="h-12 w-12 object-contain" />
            <MudText class="mt-4 text-xl text-[var(--mud-palette-gray-dark)] font-semibold md:text-1xl">Safer
                Staking</MudText>
            <MudText class="mt-4 text-base text-[var(--mud-palette-gray-dark)] md:text-lg">Lorem ipsum dolor sit
                amet, consectetur adipiscing elit.
            </MudText>
        </MudCardContent>
    </MudCard>

    <MudCard
        class="h-72 w-full rounded-2xl cursor-pointer py-8 px-8 flex flex-col items-center gap-y-2 text-center bg-[var(--mud-palette-secondary-lighten)] transform transition-transform duration-300 ease-in-out hover:scale-110 lg:pl-10 lg:pr-6 lg:w-full lg:text-left">
        <MudCardContent>
            <img src="images/icons/automated-staking.png" class="h-12 w-12 object-contain" />
            <MudText class="mt-4 text-xl text-[var(--mud-palette-gray-dark)] font-semibold md:text-1xl">Automated
                Staking</MudText>
            <MudText class="mt-4 text-base text-[var(--mud-palette-gray-dark)] md:text-lg">Lorem ipsum dolor sit
                amet, consectetur adipiscing elit.
            </MudText>
        </MudCardContent>
    </MudCard>

    <MudCard
        class="h-72 w-full rounded-2xl cursor-pointer py-8 px-8 flex flex-col items-center gap-y-2 text-center bg-[var(--mud-palette-secondary-lighten)] transform transition-transform duration-300 ease-in-out hover:scale-110 lg:pl-10 lg:pr-6 lg:w-full lg:text-left">
        <MudCardContent>
            <img src="images/icons/cardano-health.png" class="h-12 w-12 object-contain" />
            <MudText class="mt-4 text-xl text-[var(--mud-palette-gray-dark)] font-semibold md:text-1xl">Cardano Health
                Network</MudText>
            <MudText class="mt-4 text-base text-[var(--mud-palette-gray-dark)] md:text-lg">Lorem ipsum dolor sit
                amet, consectetur adipiscing elit.
            </MudText>
        </MudCardContent>
    </MudCard>

    <MudCard
        class="h-72 w-full rounded-2xl cursor-pointer py-8 px-8 flex flex-col items-center gap-y-2 text-center bg-[var(--mud-palette-secondary-lighten)] transform transition-transform duration-300 ease-in-out hover:scale-110 lg:pl-10 lg:pr-6 lg:w-full lg:text-left">
        <MudCardContent>
            <img src="images/icons/unlock-liquidity.png" class="h-12 w-12 object-contain" />
            <MudText class="mt-4 text-xl text-[var(--mud-palette-gray-dark)] font-semibold md:text-1xl">Unlock Liquidity
            </MudText>
            <MudText class="mt-4 text-base text-[var(--mud-palette-gray-dark)] md:text-lg">Lorem ipsum dolor sit
                amet, consectetur adipiscing elit.
            </MudText>
        </MudCardContent>
    </MudCard>

    <MudCard
        class="h-72 w-full rounded-2xl cursor-pointer py-8 px-8 flex flex-col items-center gap-y-2 text-center bg-[var(--mud-palette-secondary-lighten)] transform transition-transform duration-300 ease-in-out hover:scale-110 lg:pl-10 lg:pr-6 lg:w-full lg:text-left">
        <MudCardContent>
            <img src="images/icons/sada-icon-small.png" class="h-12 w-12 object-contain" />
            <MudText class="mt-4 text-xl text-[var(--mud-palette-gray-dark)] font-semibold md:text-1xl">sADA
                (shielded ADA)</MudText>
            <MudText class="mt-4 text-base text-[var(--mud-palette-gray-dark)]">Lorem ipsum dolor sit
                amet, consectetur adipiscing elit.
            </MudText>
        </MudCardContent>
    </MudCard>

</section>

@* Third Section *@
<section>
    <div style="@((IsDarkMode ? "background-image: url('/images/backgrounds/third-section-top-arc-dark.svg');" : "background-image: url('/images/backgrounds/third-section-top-arc-light.svg');"))"
        class="relative mt-20 w-screen bg-[size:100%_100%] bg-center bg-no-repeat h-52 md-72 lg:h-48" />
    <div class="pt-16 pb-36 bg-[var(--mud-palette-primary-darken)]">
        <div class="relative flex flex-col flex-nowrap overflow-x-hidden lg:ml-[max(calc(50vw-544px),96px)] ">
            <article
                class="flex flex-col items-center flex-shrink-0 text-center align-top w-full whitespace-normal mb-6 sm:w-[25rem] sm:px-12 md:px-0 lg:block lg:mb-0 lg:text-left lg:absolute lg:h-[35rem] lg:w-[28rem]">
                <MudText class="text-4xl font-semibold md:text-5xl">
                    How It Works
                </MudText>
                <MudText class="text-base font-light mt-12 md:text-lg">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque iaculis fringilla ligula, id finibus tortor.
                </MudText>
                <div class="flex items-center gap-2 mt-12">
                    <MudText class="text-xs font-semibold lg:text-base">
                        LEARN MORE
                    </MudText>
                    <img src="/images/icons/arrow-up-right-colored.png" class="h-7 w-7 object-contain"
                        alt="brightness icon" />
                </div>
            </article>
            <div 
                style="@((isTransitioning == true ? "translateX(-27rem)" : "translateX(0)") )"
                class="flex flex-nowrap gap-x-[calc(50vw-12rem)] sm:gap-x-[calc(50vw-13.5rem)] lg:gap-x-0 sm:translate-x-[calc((50vw + 13.5rem) * -{count})] lg:translate-x-[-{count * 27}rem]">
                @foreach(var card in carousel.Cards){
                    <MudCard class="flex flex-col items-start flex-shrink-0 h-[35rem] w-[24rem] rounded-2xl p-8 pr-12 gap-y-4  bg-[var(--mud-palette-secondary)] sm:w-[27rem]">
                        <MudCardContent>
                            <img src="@card.Image" alt="@card.Name" />
                            <MudText class="text-2xl font-semibold">@card.Name</MudText>
                            <MudText class="text-base leading-7">@card.Description</MudText>
                        </MudCardContent>
                    </MudCard>
                }
            </div>
            <ul class="flex gap-x-8 mt-8 justify-center lg:ml-[28rem] lg:w-[calc(27rem*0.92)]">
                <button class="h-8 w-8 rounded-full @((0 == newIDX) ? "bg-red-500" : "bg-blue-500")"
                        @onclick="() => CarouselTransition(0, newIDX)"
                         />
                <button class="h-8 w-8 rounded-full @((1 == newIDX) ? "bg-red-500" : "bg-blue-500")"
                        @onclick="() => CarouselTransition(1, newIDX)"
                         />
                <button class="h-8 w-8 rounded-full @((2 == newIDX) ? "bg-red-500" : "bg-blue-500")"
                        @onclick="() => CarouselTransition(2, newIDX)"
                         />
                <button class="h-8 w-8 rounded-full @((3 == newIDX) ? "bg-red-500" : "bg-blue-500")"
                        @onclick="() => CarouselTransition(3, newIDX)"
                         />
                <button class="h-8 w-8 rounded-full @((4 == newIDX) ? "bg-red-500" : "bg-blue-500")"
                        @onclick="() => CarouselTransition(4, newIDX)"
                         />
            </ul>
        </div>
    </div>
    <div style="@((IsDarkMode ? "background-image: url('/images/backgrounds/third-section-bottom-arc-dark.svg');" : "background-image: url('/images/backgrounds/third-section-bottom-arc-light.svg');"))"
        class="relative w-screen bg-[size:100%_100%] bg-center bg-no-repeat h-72 overflow-hidden lg:h-80">
        <article
            class="absolute bottom-0 left-1/2 -translate-x-1/2 text-center max-w-lg w-[70%] lg:top-1/2 lg:-translate-y-1/2">
            <MudText class="text-4xl text-[var(--mud-palette-text-primary)] font-semibold md:text-5xl">Roadmap
            </MudText>
            <MudText class="text-base text-[var(--mud-palette-text-primary)] font-light mt-8 md:text-lg">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque iaculis fringilla ligula, id finibus tortor.
            </MudText>
        </article>
    </div>
</section>


@code {
    [CascadingParameter] public bool IsDarkMode { get; set; }

    public int newIDX = 0;
    public int count = 0;
    public bool isCooldown = false;
    public bool isTransitioning = false;

    public async Task CarouselTransition(int oldIDX, int newIDX) {
        
        if (isCooldown) return;
        count = (newIDX - oldIDX + 5) % 5;

        this.newIDX = oldIDX; 
        
        // Append Carousel based on count
        if (count != 0) 
        {
            var cardsToAppend = carousel.Cards.Take(count).ToList();
            carousel.Cards.AddRange(cardsToAppend);
        }

        isTransitioning = true;
        isCooldown = true;
    
        await Task.Delay(300);

        isTransitioning = false;
        isCooldown = false;

        carousel.Cards = carousel.Cards.Skip(count).ToList();

        StateHasChanged();
    }

    public class CarouselCardDetails
    {
        public string? Image { get; set; }
        public string? Name { get; set; }
        public string? Description { get; set; }
    }

    public class Carousel
    {
        public List<CarouselCardDetails> Cards { get; set; } = new List<CarouselCardDetails>();

        public Carousel()
        {
            Cards = new List<CarouselCardDetails>
            {
                new CarouselCardDetails { Image = "", Name = "Stake Your ADA and Receive sADA", Description = "When you stake your ADA through AEGIS, you'll receive SADA (shielded ADA) tokens in return." },
                new CarouselCardDetails { Image = "/images/icons/sada-circle.png", Name = "Unlock Liquidity with SADA", Description = "Unlike traditional staking, AEGIS allows you to unlock liquidity with your SADA tokens. Even while your original ADA remains staked and earning rewards, you can use sADA to trade, provide liquidity, or participate in Dex without sacrificing your staking rewards." },
                new CarouselCardDetails { Image = "/images/icons/sada-circle.png", Name = "Unlock Liquidity with SADA", Description = "Unlike traditional staking, AEGIS allows you to unlock liquidity with your SADA tokens. Even while your original ADA remains staked and earning rewards, you can use sADA to trade, provide liquidity, or participate in Dex without sacrificing your staking rewards." },
                new CarouselCardDetails { Image = "/images/icons/sada-circle.png", Name = "Unlock Liquidity with SADA", Description = "Unlike traditional staking, AEGIS allows you to unlock liquidity with your SADA tokens. Even while your original ADA remains staked and earning rewards, you can use sADA to trade, provide liquidity, or participate in Dex without sacrificing your staking rewards." },
                new CarouselCardDetails { Image = "/images/icons/sada-circle.png", Name = "Unlock Liquidity with SADA", Description = "Unlike traditional staking, AEGIS allows you to unlock liquidity with your SADA tokens. Even while your original ADA remains staked and earning rewards, you can use sADA to trade, provide liquidity, or participate in Dex without sacrificing your staking rewards." }
            };
        }
    }

    public Carousel carousel = new Carousel();

}
