@using Aegis.Web.Components.Common
@using Aegis.Web.Models

@page "/"

@namespace Aegis.Web.Components.Pages

<PageTitle>Aegis • Official Website</PageTitle>

<HeadContent>
    <meta name="description" content="Join AEGIS and safeguard your assets with secure, Cardano-powered staking solutions."/>
    <meta property="og:url" content="http://localhost:9000/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Aegis | Official Website" />
    <meta
      property="og:description"
      content="Join AEGIS and safeguard your assets with secure, Cardano-powered staking solutions."
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://x.com/theaegis_io" />
    <meta name="twitter:title" content="Aegis | Official Website" />
    <meta
      name="twitter:description"
      content="Join AEGIS and safeguard your assets with secure, Cardano-powered staking solutions."
    />
</HeadContent>

<div class="relative h-auto xl:h-screen 2xl:h-auto bg-[var(--mud-palette-primary)]">
    <Header />
    <article
        class="relative container z-20 text-center pb-32 mt-20 max-w-screen-xl lg:pb-72 lg:!mt-56 2xl:h-auto 2xl:pt-0">
        <MudText class="h1 font-semibold text-4xl text-[var(--mud-palette-white)] xl:text-[4rem] xl:leading-[4rem]">
            Protecting Value, <br />
            Maximizing Rewards
        </MudText>
        <MudText class="text-base text-[var(--mud-palette-white)] font-light my-8 sm:my-12 md:text-lg 2xl:my-10">
            Join AEGIS and safeguard your assets with <br />
            secure, Cardano-powered staking solutions.
        </MudText>
        <div class="w-[14rem] mx-auto p-[2px] rounded-[50px]
        bg-gradient-to-r from-[var(--mud-palette-info-lighten)] to-[var(--mud-palette-info)]
        ">
            <MudButton Variant="Variant.Filled" class="w-full rounded-[50px] !bg-[var(--mud-palette-white)]">
                <MudText class="text-base font-bold text-[var(--mud-palette-black)]">START STAKING NOW</MudText>
            </MudButton>
        </div>
    </article>
    <div style="background-image: url('/images/backgrounds/first-section-layer-1.svg');" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 animate-scale-shield-first 5s ease-in-out infinite 
        opacity-20 w-[640px] h-[640px] bg-contain z-10 bg-no-repeat bg-center mix-blend-screen sm:h-full sm:w-full 
        sm:top-32 sm:left-0 sm:-translate-x-0 sm:-translate-y-0" />
    <div style="background-image: url('/images/backgrounds/first-section-layer-2.svg');" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 animate-scale-shield-second 5s ease-in-out infinite
        opacity-20 w-[640px] h-[640px] bg-contain z-10 bg-no-repeat bg-center mix-blend-screen sm:h-full sm:w-full
        sm:top-32 sm:left-0 sm:-translate-x-0 sm:-translate-y-0" />
    <div style=" background-image: url('/images/backgrounds/first-section-layer-3.svg');" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 animate-scale-shield-third 5s ease-in-out infinite 
        opacity-20 w-[640px] h-[640px] bg-contain z-10 bg-no-repeat bg-center mix-blend-screen sm:h-full sm:w-full 
        sm:top-32 sm:left-0 sm:-translate-x-0 sm:-translate-y-0" />
</div>
<div style="@((IsDarkMode ? "background-image: url('/images/backgrounds/first-section-arc-dark.svg');" : "background-image: url('/images/backgrounds/first-section-arc-light.svg');"))"
    class="relative bg-[size:100%_100%] bg-center bg-no-repeat h-56 md:h-72 2xl:h-48" />

<section
    class="container grid grid-cols-1 place-items-center mt-20 w-full gap-10 max-w-screen-xl sm:grid-cols-2 lg:gap-6 lg:place-items-end xl:gap-6 lg:grid-cols-3">
    <article
        class="w-3/4 text-center max-w-screen-xl place-self-auto sm:w-1/2 sm:mb-0 sm:col-span-2 lg:col-span-1 lg:text-left lg:w-full lg:h-[22rem] lg:place-self-auto">
        <MudText class="text-4xl text-[var(--mud-palette-text-primary)] font-semibold lg:text-5xl">Key Benefits
        </MudText>
        <MudText class="mt-5 text-base text-center text-[var(--mud-palette-text-primary)] lg:text-left lg:text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
            iaculis fringilla ligula, id finibus tortor.
        </MudText>
        <MudText class="flex items-center justify-center gap-2 mt-4 lg:!justify-start">
            <MudText class="text-xs text-[var(--mud-palette-text-primary)] font-semibold lg:text-base">LEARN MORE
            </MudText>
            <img src="/images/icons/arrow-up-right-colored.svg" class="h-7 w-7 object-contain" alt="arrow icon" />
        </MudText>
    </article>

    <MudCard
        class="h-72 w-full rounded-2xl cursor-pointer py-8 px-8 flex flex-col items-center gap-y-2 text-center bg-[var(--mud-palette-secondary-lighten)] transform transition-transform duration-300 ease-in-out hover:scale-110 lg:items-start lg:pl-10 lg:pr-6 lg:w-full lg:text-left">
        <img src="images/icons/safer-staking.svg" class="h-12 w-12 object-contain" />
        <MudText class="mt-4 text-xl text-[var(--mud-palette-gray-dark)] font-semibold md:text-1xl">Safer Staking
        </MudText>
        <MudText class="mt-4 text-base text-[var(--mud-palette-gray-dark)] md:text-lg">Lorem ipsum dolor sit
            amet, consectetur adipiscing elit.
        </MudText>
    </MudCard>

    <MudCard
        class="h-72 w-full rounded-2xl cursor-pointer py-8 px-8 flex flex-col items-center gap-y-2 text-center bg-[var(--mud-palette-secondary-lighten)] transform transition-transform duration-300 ease-in-out hover:scale-110 lg:items-start lg:pl-10 lg:pr-6 lg:w-full lg:text-left">
        <img src="images/icons/automated-staking.svg" class="h-12 w-12 object-contain" />
        <MudText class="mt-4 text-xl text-[var(--mud-palette-gray-dark)] font-semibold md:text-1xl">Automated
            Staking</MudText>
        <MudText class="mt-4 text-base text-[var(--mud-palette-gray-dark)] md:text-lg">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
        </MudText>
    </MudCard>

    <MudCard
        class="h-72 w-full rounded-2xl cursor-pointer py-8 px-8 flex flex-col items-center gap-y-2 text-center bg-[var(--mud-palette-secondary-lighten)] transform transition-transform duration-300 ease-in-out hover:scale-110 lg:items-start lg:pl-10 lg:pr-6 lg:w-full lg:text-left">
        <img src="images/icons/cardano-health.svg" class="h-12 w-12 object-contain" />
        <MudText class="mt-4 text-xl text-[var(--mud-palette-gray-dark)] font-semibold md:text-1xl">Cardano Health
            Network</MudText>
        <MudText class="mt-4 text-base text-[var(--mud-palette-gray-dark)] md:text-lg">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
        </MudText>
    </MudCard>

    <MudCard
        class="h-72 w-full rounded-2xl cursor-pointer py-8 px-8 flex flex-col items-center gap-y-2 text-center bg-[var(--mud-palette-secondary-lighten)] transform transition-transform duration-300 ease-in-out hover:scale-110 lg:items-start lg:pl-10 lg:pr-6 lg:w-full lg:text-left">
        <img src="images/icons/unlock-liquidity.svg" class="h-12 w-12 object-contain" />
        <MudText class="mt-4 text-xl text-[var(--mud-palette-gray-dark)] font-semibold md:text-1xl">Unlock Liquidity
        </MudText>
        <MudText class="mt-4 text-base text-[var(--mud-palette-gray-dark)] md:text-lg">Lorem ipsum dolor sit
            amet, consectetur adipiscing elit.
        </MudText>
    </MudCard>

    <MudCard
        class="h-72 w-full rounded-2xl cursor-pointer py-8 px-8 flex flex-col items-center gap-y-2 text-center bg-[var(--mud-palette-secondary-lighten)] transform transition-transform duration-300 ease-in-out hover:scale-110 lg:items-start lg:pl-10 lg:pr-6 lg:w-full lg:text-left">
        <img src="images/icons/sada-icon-small.svg" class="h-12 w-12 object-contain" />
        <MudText class="mt-4 text-xl text-[var(--mud-palette-gray-dark)] font-semibold md:text-1xl">sADA
            (shielded ADA)</MudText>
        <MudText class="mt-4 text-base text-[var(--mud-palette-gray-dark)]">Lorem ipsum dolor sit
            amet, consectetur adipiscing elit.
        </MudText>
    </MudCard>

</section>

<section>
    <div style="@((IsDarkMode ? "background-image: url('/images/backgrounds/third-section-top-arc-dark.svg');" : "background-image: url('/images/backgrounds/third-section-top-arc-light.svg');"))"
        class="relative mt-20 w-screen bg-[size:100%_100%] bg-center bg-no-repeat h-52 md-72 lg:h-48" />
    <div class="pt-16 pb-36 bg-[var(--mud-palette-primary-darken)]">
        <div class="relative flex flex-col flex-nowrap overflow-x-hidden lg:ml-[max(calc(50vw-544px),96px)] ">
            <article
                class="flex flex-col items-center flex-shrink-0 text-center align-top w-[25rem] whitespace-normal mb-6 mx-auto bg-[var(--mud-palette-primary-darken)] z-10 sm:mx-0 sm:w-[30rem] sm:px-12 md:px-0 lg:block lg:mb-0 lg:text-left lg:absolute lg:h-[35rem] lg:w-[27rem]">
                <MudText class="text-4xl text-[var(--mud-palette-white)] font-semibold md:text-5xl">
                    How It Works
                </MudText>
                <MudText class="text-base text-[var(--mud-palette-white)] font-light mt-12 md:text-lg">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque iaculis fringilla ligula, id finibus tortor.
                </MudText>
                <div class="flex items-center gap-2 mt-12">
                    <MudText class="text-xs text-[var(--mud-palette-white)] font-semibold lg:text-base">
                        LEARN MORE
                    </MudText>
                    <img src="/images/icons/arrow-up-right-colored.svg" class="h-7 w-7 object-contain"
                        alt="brightness icon" />
                </div>
            </article>
            <div style="@((IsTransitioning ? $"transform: translateX(-{Count * 30.5 + 0.08}rem);" + " transition: transform 0.3s ease-in;" : "transform: none;"))"
                class="flex flex-nowrap ml-[calc(50vw-12rem)] gap-x-14 sm:ml-[calc(50vw-13.5rem)] lg:ml-[27rem]">
                @for (int i = 0; i < CarouselCards.Count; i++)
                {
                    Carousel Card = CarouselCards[i];
                    <MudCard style="@((IsTransitioning && i <= Count) 
                            ? $"transform: scale(0.92); transition: transform 0.3s ease-in;" 
                            : (i < 1 
                                ? "transform: scale(0.92);" 
                                : "transform: scale(0.75);"))"
                        class="flex flex-col items-start flex-shrink-0 h-[35rem] w-[24rem] rounded-2xl p-8 pr-12 bg-[var(--mud-palette-secondary)] sm:w-[27rem]">
                        <MudCardContent>
                            <img src="@((string.IsNullOrEmpty(Card.Image)) ? (IsDarkMode ? "/images/icons/sada-icon-large-dark.svg" : "/images/icons/sada-icon-large-light.svg") : Card.Image)"
                                alt="@Card.Name" />
                            <MudText class="text-3xl font-semibold mt-6">@Card.Name</MudText>
                            <MudText class="text-base leading-7 mt-6">@Card.Description</MudText>
                        </MudCardContent>
                    </MudCard>
                }
            </div>
            <ul class="flex gap-x-8 mt-8 justify-center lg:ml-[28rem] lg:w-[calc(27rem*0.92)]">
                <button
                    class="h-8 w-8 rounded-full @((0 == NewIdx) ? "bg-[var(--mud-palette-white)]" : "bg-[var(--mud-palette-gray-default)]")"
                    @onclick="() => CarouselTransition(0, NewIdx)" />
                <button
                    class="h-8 w-8 rounded-full @((1 == NewIdx) ? "bg-[var(--mud-palette-white)]" : "bg-[var(--mud-palette-gray-default)]")"
                    @onclick="() => CarouselTransition(1, NewIdx)" />
                <button
                    class="h-8 w-8 rounded-full @((2 == NewIdx) ? "bg-[var(--mud-palette-white)]" : "bg-[var(--mud-palette-gray-default)]")"
                    @onclick="() => CarouselTransition(2, NewIdx)" />
                <button
                    class="h-8 w-8 rounded-full @((3 == NewIdx) ? "bg-[var(--mud-palette-white)]" : "bg-[var(--mud-palette-gray-default)]")"
                    @onclick="() => CarouselTransition(3, NewIdx)" />
                <button
                    class="h-8 w-8 rounded-full @((4 == NewIdx) ? "bg-[var(--mud-palette-white)]" : "bg-[var(--mud-palette-gray-default)]")"
                    @onclick="() => CarouselTransition(4, NewIdx)" />
            </ul>
        </div>
    </div>
    <div style="@((IsDarkMode ? "background-image: url('/images/backgrounds/third-section-bottom-arc-dark.svg');" : "background-image: url('/images/backgrounds/third-section-bottom-arc-light.svg');"))"
        class="relative w-screen bg-[size:100%_100%] bg-center bg-no-repeat h-72 overflow-hidden lg:h-80">
        <article
            class="absolute bottom-0 left-1/2 -translate-x-1/2 text-center max-w-lg w-[70%] lg:top-1/2 lg:-translate-y-1/2">
            <MudText class="text-4xl text-[var(--mud-palette-text-primary)] font-semibold md:text-5xl">Roadmap
            </MudText>
            <MudText class="text-base text-[var(--mud-palette-text-primary)] font-light mt-8 md:text-lg">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque iaculis fringilla ligula, id finibus tortor.
            </MudText>
        </article>
    </div>
</section>

<section
    class="container flex flex-col justify-center w-full mt-16 max-w-screen-xl lg:flex-row lg:flex-wrap lg:gap-y-12 lg:!justify-end">
    <ul
        class="grid grid-cols-6 w-full h-28 place-content-center lg:h-[28rem] lg:w-[13rem] lg:grid-cols-1 lg:grid-rows-6 text-base">
        @for (int i = 0; i < Quarters.Count; i++)
        {
            Timeline quarter = Quarters[i];
            <li class="w-full h-full cursor-pointer group grid grid-rows-2 lg:grid-cols-[2fr_1fr] lg:grid-rows-1"
                @onmouseover="@(() => HoveredQuarter = $"{quarter.Year} | {quarter.Quarter}")"
                @onmouseleave="@(() => HoveredQuarter = "2024 | Q1")">
                <div class="w-full h-full flex justify-center items-center lg:justify-end">
                    <span class="transition-all lg:hidden @GetHoverClass(quarter)">@quarter.Quarter</span>
                    <span class="@GetHoverClass(quarter) hidden transition-all lg:block">
                        @quarter.Year | @quarter.Quarter
                    </span>
                </div>
                <div class="relative flex flex-col items-center gap-y-4 w-full h-full lg:!justify-center">
                    <div
                        class="circle relative z-20 h-2 w-2 rounded-full sm:h-4 sm:w-4 @((HoveredQuarter == $"{quarter.Year} | {quarter.Quarter}" ? "scale-[200%] duration-300 bg-[#0033AD]" : "bg-[#D9D9D9]"))" />
                    @if (i < Quarters.Count - 1)
                    {
                        <div
                            class="absolute z-10 w-full h-[0.05rem] mt-1 sm:mt-2 left-1/2 lg:mt-0 lg:w-[0.05rem] lg:h-full lg:top-1/2 bg-[#D9D9D9]" />
                    }
                    <span class="transition-all lg:hidden @GetHoverClass(quarter)">
                        @quarter.Year
                    </span>
                </div>
            </li>
        }
    </ul>
    <MudCard
        Class="relative w-full h-[24rem] mx-auto mt-12 md:h-[28rem] lg:!mt-0 lg:!mx-0 lg:w-[39rem] lg:ml-4 !bg-[#0F3CAE] !rounded-[1rem]">
        <MudCardContent Style="background-image: url('/images/backgrounds/fourth-section-time-container.svg');"
            Class="flex flex-col items-start gap-4 h-full w-full bg-cover bg-left-bottom bg-no-repeat md:bg-[size:90%_93%] !pb-0 pt-16 px-8 md:gap-8 md:!pt-20 md:!pl-12 md:!pr-20 text-[var(--mud-palette-white)]">
            <MudImage Src="images/icons/aegis-check-mark.svg" />
            <MudText Class="text-4xl font-semibold md:text-5xl">Heading</MudText>
            <MudText Class="text-base font-light md:text-lg">04/10/2025</MudText>
            <MudText Class="text-base font-light md:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit.
                Pellentesque iaculis fringilla ligula, id finibus tortor.</MudText>
        </MudCardContent>
    </MudCard>
    <MudPaper Elevation="5" Class="w-full !mt-16 max-w-screen-xl !bg-white !rounded-3xl">
        <div class="flex flex-wrap justify-between items-center rounded-2xl py-12 md:flex-row">
            <MudText Class="w-full text-center text-4xl font-semibold md:mb-12 md:text-5xl !text-[#35383B]">
                Tokenomics
            </MudText>
            <div class="relative w-[18rem] h-auto mx-auto flex items-center justify-center my-6 sm:!w-[27rem] lg:!h-[32rem] lg:!ml-auto lg:!mr-0 lg:!w-[50%]"
                style="aspect-ratio: 1;">
                <MudChart ChartType="ChartType.Donut" InputData="[235, 40, 45, 20, 20]"
                    Class="[&_.mud-chart-legend]:hidden !w-[120%] !h-[120%]" Width="100%" Height="100%"
                    ChartOptions="@(new() { ChartPalette = new[] { "#0F3CAE", "#517FF3", "#A5D0E8", "#E9DC94", "#9747FF" } })" />
                <div class="absolute flex flex-col items-center justify-center gap-4 rounded-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-10/12 bg-[#F3F3F3] text-[var(--mud-palette-gray-dark)]"
                    style="aspect-ratio: 1;">
                    <h4 class="text-1xl font-semibold md:text-2xl">
                        Total Supply
                    </h4>
                    <h3 class="text-2xl font-bold md:text-3xl">10,000,000,000</h3>
                    <span class="text-base font-light md:text-lg">Tokens</span>
                </div>
            </div>
            <ul class="w-[calc(90%-5vw)] mx-auto md:w-[90%] lg:px-0 lg:w-[calc(32%)] lg:mx-[6%] text-black">
                @foreach (var datum in TokenomicList.Select((value, index) => new { value, index }))
                {
                    <li class="flex flex-wrap justify-between gap-y-4 pt-4 pb-4">
                        <h6 class="text-base w-12 font-bold md:text-xl" style="color: @datum.value.Color">
                            @datum.value.Percentage
                        </h6>
                        <h6 class="text-base w-[calc(100%-10rem)] font-bold md:text-xl">
                            @datum.value.Name
                        </h6>
                        <p class="text-sm w-24 font-light ml-4 md:text-base">
                            Tokens
                        </p>
                        <p class="text-sm w-[calc(100%-7rem)] font-light md:text-base">
                            @datum.value.Description
                        </p>
                        <span class="text-sm w-24 ml-4 font-light md:text-base">
                            @datum.value.Amount
                        </span>
                    </li>
                    @if (datum.index < TokenomicList.Count - 1)
                    {
                        <MudDivider Class="bg-[#2f55b7] h-[2px]" />
                    }
                }
            </ul>
        </div>
    </MudPaper>
</section>

<div style="@((IsDarkMode ? "background-image: none;" : "background-image: url('/images/backgrounds/fifth-section-top-arc-light.svg');"))"
    class="relative -z-10 w-screen bg-cover bg-center bg-no-repeat -mt-[25rem] h-[25rem] md:bg-[size:100%_100%] md:-mt-72 md:h-72" />

<section
    class="relative flex flex-col items-center bg-[var(--mud-palette-primary-lighten)] text-[var(--mud-palette-white)]">
    <div class="container flex flex-wrap justify-between items-center max-w-screen-xl">
        <MudText Class="w-full my-28 text-center text-4xl font-semibold md:text-5xl">
            Team
        </MudText>
        @for (int i = 0; i < 8; i++)
        {
            <div class="w-full flex flex-col items-center gap-4 md:w-1/2 lg:w-1/4 mb-24">
                <div class="h-28 w-28 rounded-full bg-white" />
                <MudText Class="text-2xl font-medium">Name Lastname</MudText>
                <MudText class="font-extralight">Job Title</MudText>
                <MudIcon Icon="@Icons.Custom.Brands.X" Class="h-[1.25em] w-[1.25em] p-[.35em] rounded-full bg-[#3C92F9]" />
            </div>
        }
    </div>
    <div style="@((IsDarkMode ? "background-image: url('/images/backgrounds/fifth-section-bottom-arc-dark.svg');" : "background-image: url('/images/backgrounds/fifth-section-bottom-arc-light.svg');"))"
        class="relative flex justify-center mt-28 pb-28 w-full bg-cover bg-top bg-no-repeat">
        <article class="relative container w-full max-w-screen-xl">
            <MudPaper Elevation="5" Class="rounded-2xl bg-white px-[min(7.5vw,96px)] py-16">
                <MudText Class="text-center text-4xl font-semibold mb-16 md:text-5xl !text-[#323E59]">FAQs</MudText>
                <MudExpansionPanels>
                    @foreach (var (index, panel) in PanelContents!.Select((content, idx) => (idx, content)))
                    {
                        <MudExpansionPanel @bind-Expanded="@PanelStates![index]" HideIcon="true" Class="bg-white text-[#323E59] mt-8 shadow-none 
                            [&_.mud-expand-panel-header]:p-0
                            [&_.mud-expand-panel-content]:!px-0
                            [&_.mud-expand-panel-content]:2xl:!pl-0 
                            [&_.mud-expand-panel-content]:2xl:!pr-16 
                            [&_.mud-expand-panel-content]:!py-4">
                            <TitleContent>
                                <div class="flex items-center justify-between mb-8 gap-x-4">
                                    <MudText class="text-xl font-semibold md:text-2xl">@panel.Question</MudText>
                                    <MudImage
                                        Src="@((!PanelStates[index] ? "images/icons/faq-minus.png" : "images/icons/faq-plus.svg"))"
                                        Alt="faq icon" class="h-7 w-7 object-contain" />
                                </div>
                            </TitleContent>
                            <ChildContent>
                                <p
                                    class="text-base md:text-lg font-light overflow-hidden transition-all duration-300 ease-in-out">
                                    @panel.Answer
                                </p>
                            </ChildContent>
                        </MudExpansionPanel>
                        <MudDivider Class="bg-[#D9D9D9]" />
                    }
                </MudExpansionPanels>
            </MudPaper>
        </article>
    </div>
</section>
<Footer />